.title {
    font-weight: 700;
    font-size: 23px;
}

.three-hour-forcast {
    background-color: #f5f5f5;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
}

.icon-small {
    width: 40px;
}

.date-time {
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #757575;
}

.details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}

.detials-grid-item {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.detials-grid-item label:first-child {
    color: #757575;
}

.detials-grid-item label:last-child {
    color: #212121;
}
